@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=PT+Sans:ital@0;1&display=swap');

/* General Styling */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding-top: 70px;
}

.footer {
    flex-shrink: 0;
}

p {
    margin: 0;
}

/* Font Styling */

h1,
h2,
h3 {
    font-family: 'Averia Serif Libre', cursive;
}

p,
li {
    font-family: 'PT Sans', sans-serif;
}

i {
    font-size: 1.5rem;
}

.btn-like i {
    font-size: 2rem;
}

.profile-link {
    font-size: inherit;
    text-decoration: none;
    color: #947232;
}

a {
    text-decoration: none;
}

.social-links a,
.site-links a,
.profile-recipe-list a {
    color: #275f9a;
}

a:hover {
    color: #a54a1e;
    text-decoration: none;
}

.recipe-index {
    font-size: 1.3rem;
    font-weight: bold;
}

.front-text,
.search-text {
    background-color: #92c5cc;
}

.warning {
    color: #a51e1e;
}
.successful {
    color: #1a841a;
}

/* Navbar */

.nav-colour {
    background-color: #91ccd4;
}

.logo img {
    width: 100px;
}

.nav-item .active-page {
    background-color: #b0efda;
}

/* Footer Styling */

.site-links {
    display: flex;
    flex-flow: column;
}

.social-links ul {
    margin: 0;
    padding: 5px;
}

/* Button Styling */

.btn-search {
    background-color: #4fc3f7;
    margin: 0.5rem;
}

.btn-add,
.btn-remove {
    padding: 5px;
}

.btn-add {
    background-color: transparent;
    color: #2e7d32;
}

.btn-main,
.toggle-recipe-list {
    background-color: #ea9c76;
    margin: 5px;
}

.btn-zoom {
    transform: scale(1.1);
}

.btn-news {
    color: #0e0e0e;
    background-color: #ea9c76;
    margin: 0.5rem;
}

.btn-news:hover {
    color: #0e0e0e;
    background-color: #72c185;
}

.btn-remove,
.btn-like i,
.heart {
    background-color: transparent;
    color: #c62828;
}

/* Home Section */

.image-outer {
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.search-field {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.search-main {
    width: 80vw;
    height: 6vh;
}

.home-image-inner {
    background-image: url("/static/images/herbs.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, -18%);
}

.front-header {
    margin-top: 8px;
    padding: 5px 0;
}

.featured-container {
    overflow: hidden;
}

.featured-container img {
    max-width: 100%;
}

.featured-container .index-image-zoom {
    transition: transform 2s ease
}

.index-image-zoom {
    transform: scale(1.2);
}

.recent-recipe {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 25vw;
    height: 15vh;
    overflow: hidden;
}

.recent-recipe a img {
    width: 90%;
    border-radius: 5px;
}

.banner {
    max-height: fit-content;
    background: #e2c19c;
    padding: 5px;
}

.banner form {
    padding: 5px;
}

form #news-email {
    width: 250px;
    border-radius: 5px;
}

/* Search Result Page */

.search-container {
    overflow: hidden;
}

.search-image {
    width: 100%;
    height: 40vh;
}

.search-header {
    font-size: inherit;
}

.search-text {
    overflow: hidden;
    height: 32vh;
}

.search-list li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
}

.no-results-container {
    position: relative;
    height: 65vh;
}

.no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.no-results-logo {
    height: 15vh;
    padding: 0.5rem;
}

/* Recipe Page */

.recipe-image {
    width: 250px;
    padding: 0.5rem;
}

.recipe-list li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
}

.r-steps .recipe-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.125)
}

.recipe-list-view ul li:last-child {
    margin-bottom: 1rem;
}

.methods-header {
    margin: 5px 0;
    padding: 10px 0;
}

.small-screen {
    display: flex;
}

.recipe-list-view,
.large-screen {
    display: none;
}

/* Registration/Login Pages */

.login-image {
    background-image: url("/static/images/board.png");
}

.register-image {
    background-image: url("/static/images/asparagus.jpg");
}

.b-reg-image,
.b-login-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.center-form,
.center-form-login {
    background-color: white;
    width: fit-content
}

/* Profile Page */

.profile-image-container {
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

.profile-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.profile-recipe-list {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
}

.profile-recipe-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,.125)
}

/* 404 Page */

.error-image-inner {
    background-image: url("/static/images/404.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, -18%);
}

/* Media Queries */

@media only screen and (max-width: 376px) and (orientation: portrait) {
    .register-image,
    .login-image {
        background-image: none;
    }

    .b-login-image {
        height: 75vh;
    }

    .center-form-login {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .recipe-image-container {
        order: 1;
    }

    .recipe-overview {
        order: 2;
    }

    .recipe-m-overview {
        background-color: #92c5cc;
        border-radius: 10px;
    }

    .recipe-header {
        justify-content: center;
        flex-wrap: wrap;
    }

    .toggle-recipe-list {
        width: 80vw;
    }

}

@media only screen and (min-width: 375px) and (min-height: 812px) {
    .search-image {
        height: 32vh;
    }

    .search-text {
        height: 23vh;
    }

    .recent-recipe {
        height: 13vh;
    }

    .profile-image-container {
        height: 25vh;
    }
}

@media only screen and (min-width: 400px) and (orientation: portrait) {
    .b-reg-image {
        height: 80vh;
    }

    .b-login-image {
        height: 75vh;
    }

    .center-form,
    .center-form-login {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .search-image {
        height: 35vh;
    }

    .search-text {
        height: 25vh;
    }

    .recipe-image-container {
        order: 1;
    }

    .recipe-overview {
        order: 2;
    }

    .recipe-m-overview {
        background-color: #92c5cc;
        border-radius: 10px;
    }

    .recipe-header {
        justify-content: center;
        flex-wrap: wrap;
    }

    .profile-recipe-list, 
    .recipe-list {
        text-align: center;
    }

    .toggle-recipe-list {
        width: 80vw;
    }

    .profile-image-container {
        height: 30vh;
    }

}

@media only screen and (min-width: 500px) and (orientation: landscape) {
    .btn-search,
    .btn-news {
        margin: 0;
    }

    .search-main {
        width: auto;
        min-width: 50vw;
        height: auto;
    }

    .recent-recipe {
        width: 25vw;
        height: 40vh;
    }

    .recent-recipe a img {
        width: calc(40vw - 2rem);
        height: calc(45vh - 0.5rem);
    }

    .search-image {
        height: 70vh;
    }

    .search-text {
        height: 55vh;
    }

    .no-results-container {
        height: 50vh;
    }

    .no-results-logo {
        height: 20vh;
    }

    .toggle-recipe-list {
        width: 35vw;
    }

    .profile-image-container {
        max-height: 60vh;
    }

}

@media only screen and (min-width: 500px) and (max-width: 767px) and (orientation: landscape) {
    .col-8-land {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .search-text {
        height: 45vh;
    }

}

@media only screen and (min-width: 768px) {
    .btn-search,
    .btn-news {
        margin: 0;
    }

    .b-reg-image,
    .b-login-image {
        height: 85vh;
    }

    .nav-item {
        width: 25%;
    }

    .search-main {
        width: auto;
        min-width: 50vw;
        height: auto;
    }

    .recent-recipe {
        height: 20vh;
    }

    .search-image {
        height: 26vh;
    }

    .search-text {
        height: 18vh;
    }

    .no-results-logo {
        padding: 1.5rem;
    }

    .recipe-image-container {
        order: 2;
    }

    .recipe-overview {
        order: 1;
    }

    .recipe-m-overview {
        background-color: initial;
        border-radius: 0;
    }

    .recipe-header {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .recipe-list {
        text-align: left;
        padding: 0 1rem;
        margin: 0 2rem
    }

    .list-group {
        padding: 0 1rem;
        margin: 0 2rem
    }

    .profile-image-container {
        max-height: 25vh;
    }

}

@media only screen and (min-width: 800px) and (orientation: landscape) {
    .b-reg-image,
    .b-login-image {
        height: fit-content;
    }

    .recent-recipe {
        width: 25vw;
        height: 40vh;
    }

    .recent-recipe a img {
        width: calc(40vw - 2rem);
        height: calc(45vh - 0.5rem);
    }

    .search-image {
        height: 65vh;
    }

    .search-text {
        height: 50vh;
    }

    .no-results-container {
        height: 65vh;
    }

    .no-results-logo {
        height: 20vh;
        padding: .5rem;
    }

    .profile-image-container {
        min-height: 40vh;
        max-height: 50vh;
    }

}

@media only screen and (min-width: 1024px) {
    .b-reg-image,
    .b-login-image {
        height: 90vh;
    }

    .center-form,
    .center-form-login {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .nav-item {
        width: initial;
    }

    .search-main {
        width: auto;
        min-width: 30vw;
        height: auto;
    }

    .recent-recipe {
        height: 15vh;
    }

    .recent-recipe a img {
        width: calc(25vw - 2rem);
        height: calc(20vh - 0.5rem);
    }

    .search-image {
        height: 25vh;
    }

    .search-text {
        height: 12vh;
    }

    .large-screen {
        display: flex;
    }

    .small-screen {
        display: none;
    }

    .list-group,
    .recipe-list {
        padding: 0;
        margin: 0;
    }

    .profile-image-container {
        height: 15vh;
        max-height: 15vh;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .recent-recipe {
        width: 22vw;
        height: 20vh;
    }

    .recent-recipe a img {
        width: calc(25vw - 2rem);
        height: calc(25vh - 0.5rem);
    }

    .search-image {
        height: 40vh;
    }

    .search-text {
        height: 22vh;
    }

    .no-results-container {
        height: 80vh;
    }

    .no-results-logo {
        padding: 1.5rem;
    }

    .profile-image-container {
        min-height: 20vh;
        max-height: 35vh;
    }

}

@media only screen and (min-width: 1366px) {
    .b-reg-image,
    .b-login-image {
        height: 85vh;
    }

    .search-text {
        height: 20vh;
    }

    .search-image {
        height: 25vh;
    }

    .search-text {
        height: 18vh;
    }

}

@media only screen and (min-width: 1800px) {
    .recent-recipe {
        height: 30vh;
    }

    .recent-recipe a img {
        width: calc(25vw - 2rem);
        height: calc(30vh - 0.5rem);
    }

    .search-image {
        height: 35vh;
    }

}