@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=PT+Sans:ital@0;1&display=swap');
/* General Styling */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

html, 
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

p {
    margin: 0;
}

/* Font Styling */

h1,
h2,
h3 {
    font-family: 'Averia Serif Libre', cursive;
}

p {
    font-family: 'PT Sans', sans-serif;
}

i {
    font-size: 1.5rem;
}

/* Navbar */

.nav-colour {
    background-color: #6ebdc7;
}

.logo img {
    width: 75px;
}

/* Footer Styling */

.site-links {
    display: flex;
    flex-flow: column;
}

.social-links ul {
    margin:  0;
    padding-inline-start: 0;
    padding: 5px;
}

/* Button Styling */

.btn-search {
    background-color: #4fc3f7;
}

.btn-add {
    background-color: transparent;
    color: #2e7d32;
}

.btn-sign-up {
    background-color: #ea9c76;
    margin: 5px;
}

.btn-zoom {
    transform: scale(1.2);
}

.btn-remove,
.btn-like {
    background-color: transparent;
    color: #c62828;
}

/* Home Section */

.image-outer {
   height: 50vh;
   overflow: hidden;
   position: relative;
}

.search-field {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.home-image-inner {
    background-image: url("/static/images/herbs.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, -18%);
}

.front-header {
    margin-top: 8px;
    padding: 5px 0px;
}

.featured-container img {
    max-width: 100%;
}

.recent-recipe {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 25vw;
}

.recent-recipe a img {
    width: 90%;
    border-radius: 5px;
}

.banner {
    max-height: fit-content;
    background: #64b5f6;
    padding: 5px;
}

.banner form {
    padding: 5px;
}

form #news-email {
    width: 250px;
    border-radius: 5px;
}

/* Search Result Page */

.search-img-container {
    float: left;
    padding: 5px;
    overflow: hidden;
}

.search-img-container a img {
    width: 250px;
    height: 250px;
}

.search-header {
    font-size: inherit;
  
}

/* Recipe Page */

.recipe-image {
    width: 250px;
}

.recipe-list li {
    list-style-type: none;
}

/* Registration/Login Pages */

.b-image {
    background-image: url("/static/images/board.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
}


/* 404 Page */

.error-image-inner {
    background-image: url("/static/images/404.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0%, -18%);
}



/* Media Queries */

@media only screen and (max-width: 374px) and (orientation: portrait) {
    .search-main {
        width: 80vw;
        height: 8vh;
    }
}

@media only screen and (min-width: 300px) and (orientation: landscape) {
    .search-main {
        width: auto;
        height: 13vh;
    }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {
    .search-main {
        width: 80vw;
        height: 6vh;
    }
}

@media only screen and (min-width: 560px) and (orientation: landscape) {
    .search-main {
        width: auto;
        min-width: 50vw;
        height: auto;
    }
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
    .search-main {
        width: auto;
        min-width: 50vw;
        height: 4vh;
    }
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
    .search-main {
        width: auto;
        min-width: 50vw;
        height: auto;
    }

}

@media only screen and (min-width: 760px) and (orientation: portrait) {
    .search-main {
        width: auto;
        min-width: 50vw;
        height: auto;
    }

}

@media only screen and (min-width: 1024px) {
    .search-main {
        width: auto;
        min-width: 30vw;
        height: auto;
    }
}