{% extends 'public_base.html' %}

{% block title%}RW | Page Not Found{% endblock %}

{% block main %}

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12 image-container">
            <div class="error-outer">
                <div class="error-image-inner"></div>
            </div>
            <div class="search-field text-center justify-content-center">
                <div class="banner">
                    <h1>Looks like there was an error in the kitchen</h1>
                    <p>We couldn't find the page you were looking for.</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}