{% extends 'public_base.html' %}

{% block title%}RW | Login{% endblock%}

{% block mdescription %}Sign into your Recipe Workshop account to upload your latest recipe.{% endblock %}


{% block main %}
<div class="row no-gutters login-image b-login-image justify-content-center mt-2">
    <div class="col-12 col-md-8 col-lg-6 col-xl-3 text-center">
        <div class="container-fluid center-form-login">
            <div class="header">
                <h1>Login</h1>
            </div>
            <div class="row no-gutters">
                <div class="col-12 justify-content-center text-sm-center text-lg-left p-3">
                    <form action="/login" method="POST">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}

                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}

                                {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control") }}
                                {% endif %}
                            </div>

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            {% if category == "error" %}
                            <p>{{ message }}</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </fieldset>
                        <div class="form-group text-center">
                            {{ form.submit(class="btn btn-recipe") }}
                        </div>
                        <div class="text-center">
                            <small>Don't have an account? <a href="{{ url_for('user_registration')}}">Sign Up Here</a></small>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}