{% extends 'public/template/public_base.html' %}

{% block title %}RW | Profile - {{username.username|title}} {% endblock %}

{% block main %}
<div class="container">
    <div class="row no-gutters">
        <div class="col-12 text-center mt-3">

            <!-- Check to see if user is profile owner -->

            {% if session["username"] == username.username %}
            <h1>Welcome {{ username.username }}</h1>

            <button type="button" class="btn btn-main" data-toggle="modal" data-target="#update-details">
                Account Management
            </button>

            {% else %}

            <h1>Welcome to the Profile of {{username.username}}</h1>

            {% endif %}

            <!-- Check to see if user has a profile image/description -->

            {% if username.profile_image and username.profile_description %}
            <div class="row no-gutters justify-content-center align-items-center p-2 m-2">
                <div class="col-12 col-lg-3">
                    <div class="profile-image-container">
                        <img src="{{username.profile_image}}" alt="Profile picture of {{username.username}}">
                    </div>
                </div>
                <div class="col-12 col-lg-3 text-center">
                    <div class="profile-description-container p-2 mb-2">
                        <p>{{username.profile_description}}</p>
                    </div>
                </div>
            </div>

            {% else %}

            <div class="row no-gutters justify-content-center align-items-center p-2 m-2">
                <div class="col-12 col-lg-3">
                    <div class="profile-image-container">
                        <img src="https://res.cloudinary.com/andy-osborne/image/upload/v1595347834/Recipe_Workshop/profile/default.jpg"
                            alt="Default profile picture">
                    </div>
                </div>
                <div class="col-12 col-lg-3 text-center">
                    <div class="profile-description-container p-2 mb-2">
                        <p>Welcome to my profile! I am just getting started and haven't updated my about me section yet
                            but come check back soon!</p>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>
    </div>

    <div class="row no-gutters d-flex justify-content-center">
        {% if session["username"] == username.username %}

        {% if not username.profile_image and not username.profile_description %}

        <div class="col-12 col-lg-6 text-center p-3 m-2 banner">
            <div class="new-profile-info">
                <p><strong>Why not update your profile to include a profile image and short description for your
                        readers?</strong></p>
                <button class="profile-form btn btn-main" type="button">Add Now</button>

            </div>

            <!-- Create Profile Form -->

            <div class="profile d-none">
                <form action="{{ url_for('update_profile', username=username.username) }}" method="POST"
                    enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="profile-image"><strong>Please upload a profile image</strong></label>
                        <input class="form-control image-upload" type="file" name="profile-image" id="profile-image"
                        accept=".png, .jpg, .jpeg" required>
                    </div>
                    <div class="p-2 text-center">
                        <p><strong class="warning"></strong></p>
                        <p><strong class="successful"></strong></p>
                    </div>
                    <div class="form-group">
                        <label for="profile-description"><strong>Write a short introduction about
                                yourself - what inspired you to cook? What are your favourite dishes?</strong></label>
                        <textarea class="form-control" name="profile-description" id="profile-description" cols="30"
                            rows="5" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>

        {% endif %}

        {% endif %}

        {% if session["username"] == username.username %}

        <div class="col-12 text-center p-2 m-2">
            <h3>My Recipes</h3>
        </div>
        {% else %}

        <div class="col-12 text-center p-2 m-2">
            <h3>Their recipe creations:</h3>
        </div>
        {% endif %}

        {% if recipe_count == 0 %}
        {% if username.username == session["username"] %}

        <div class="col-12 text-center p-2 mb-2">
            <p>It doesn't look like you've created any recipes yet. Why not create your first one now?</p>
            <a class="btn btn-main" href="{{url_for('add_recipe')}}">Add Recipe</a>
        </div>

        {% else %}

        <div class="col-12 text-center p-2 mb-2">
            <p>Looks like they're still firing up the stove and haven't had a chance to write up their latest creations!
            </p>
        </div>

        {% endif %}

        {% else %}

        <div class="col-12 col-lg-6 text-center">
            <ul class="profile-recipe-list">
                {% for recipe in recipes %}
                {% if recipe.recipe_author == username.username %}
                <li> <a href="{{url_for('get_recipe', recipe_id=recipe._id, recipe_name=recipe.recipe_name)}}">
                        {{recipe.recipe_name | title}}
                    </a> - submitted on {{recipe.submitted}}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        {% endif %}

    </div>
</div>

{% if username.username == session["username"] %}

<!-- Modal For Account Management Options Generates if session user & profile user are the same -->

<div class="modal fade" id="update-details" tabindex="-1" role="dialog" aria-labelledby="account-management"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="account-management">Account Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('update_account')}}" method="POST">
                    <p>Please update the information below to change your account information.</p>
                    <input id="user_id" name="user_id" type="hidden" value="{{username._id}}">
                    <div class="form-group email-change">
                        <label for="account-email"><strong>Change Email</strong></label>
                        <input class="form-control" type="email" name="email" id="account-email"
                            value="{{username.email}}" required>
                    </div>

                    <!-- Change Password Control Buttons -->

                    <div class="text-center">
                        <small class="form-text text-muted" id="change-pass-text">Do you want to change your
                            password?</small>
                        <button class="btn-add" id="change-pass" type="button">
                            Change Password
                        </button>
                        <button class="btn-remove d-none" id="cancel-pass" type="button">
                            Cancel
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="current-password"><strong>Current Password</strong></label>
                        <input class="form-control" type="password" name="current-password" id="current-password"
                            required>
                    </div>

                    <!-- Information Alerts  -->

                    <div class="alert alert-success d-none" id="change-success" role="alert"></div>
                    <div class="alert alert-danger d-none" id="change-error" role="alert"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="submit-changes" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}



{% endblock %}