{% extends 'public/template/public_base.html' %}

{% block title %}Recipe Workshop | {{recipe.recipe_name|title}}{% endblock %}

{% block main %}

<div class="row no-gutters">
    <div class="col-12 d-flex justify-content-center">
        <div class="text-center my-3">
            <h1>{{recipe.recipe_name|title}}</h1>
            <h3>Recipe by
                <a class="profile-link"
                    href="{{url_for('profile', username=recipe.recipe_author)}}">{{recipe.recipe_author}}</a>
            </h3>
            {% if session["username"] == recipe.recipe_author %}

            <a class="btn btn-main" href="{{url_for('manage_recipe', recipe_id=recipe._id)}}">Manage Your Recipe</a>

            {% endif %}
            <div class="container-fluid d-flex col-12 justify-content-center recipe-header">
                <div class="recipe-overview col-md-7 col-lg-6">
                    <ul class="recipe-list recipe-m-overview">
                        <li><strong>Effort Required:</strong> {{recipe.effort|title}}</li>
                        <li><strong>Preparation Time:</strong> {{recipe.prep_time}} minutes</li>
                        {% if recipe.cooking_time // 60 == 0 %}
                        <li><strong>Cooking Time:</strong> {{recipe.cooking_time}} minutes </li>
                        {% else %}
                        <li><strong>Cooking Time:</strong> {{recipe.cooking_time // 60}} hours
                            {{recipe.cooking_time % 60}} minutes</li>
                        {% endif %}
                        <li><strong>Serves:</strong> {{recipe.servings}}</li>
                    </ul>

                    <p class="description">{{recipe.recipe_description|capitalize}}</p>
                </div>
                <div class="recipe-image-container">
                    <img class="recipe-image" src="{{recipe.recipe_image}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters">

    <!-- Desktop View -->

    <div class="col-12 justify-content-center large-screen">
        <div class="col-lg-12 col-xl-8 d-lg-inline-flex">
            <div class="col-lg-4 p-2 m-2">
                <h3 class="methods-header">Ingredients</h3>
                <ul class="list-group">
                    {% for ingredient in recipe.ingredients %}
                    <li class="list-group-item">{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-7 p-2 m-2">
                <h3 class="methods-header">Steps</h3>
                <ul class="recipe-list">
                    {% for steps in recipe.steps %}
                    <li><span class="recipe-index">{{loop.index}}</span> - {{steps}}</li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Mobile View -->

    <div class="col-12 justify-content-center small-screen">
        <div class="col-lg-8 d-lg-inline-flex text-center">
            <div class="col-lg-4">
                <btn class="btn toggle-recipe-list" role="button">
                    <h3 class="methods-header">Ingredients</h3>
                </btn>
                <div class="recipe-list-view" id="#recipe-ingredients">
                    <ul class="list-group">
                        {% for ingredient in recipe.ingredients %}
                        <li class="list-group-item">{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <btn class="btn toggle-recipe-list" role="button">
                    <h3 class="methods-header">Steps</h3>
                </btn>
                <div class="recipe-list-view r-steps" id="#recipe-steps">
                    <ul class="recipe-list">
                        {% for steps in recipe.steps %}
                        <li><span class="recipe-index">{{loop.index}}</span> - {{steps}}</li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters text-center">
    <div class="col-12 p-2 my-3">
        <h4>If you liked this recipe, why not show your appreciation and give it a like?</h4>
            {% if not session["username"] %}
            <button class="btn-like disable" type="button"><i class="fas fa-heart"></i></button>
            <small>{{recipe.likes}}</small>
            <br>
            <small>Please log in to give this recipe a like</small>
            {% else %}
            {% if session["username"] in recipe.liked_by %}
            <button class="btn-like" id="react" type="button" recipe="{{recipe._id}}"><i class="fas fa-heart"></i></button>
            <small id="like-count">{{recipe.likes}}</small>
            {% else %}
            <button class="btn-like" id="react" type="button" recipe="{{recipe._id}}"><i class="far fa-heart"></i></button>
            <small id="like-count">{{recipe.likes}}</small>
            {% endif %}
            {% endif %}
    </div>
</div>


{%endblock %}