{% extends 'public/template/public_base.html' %}

{% block title%} Search {% endblock%}

{% block main %}


<div class="row no-gutters">
    {% if count == 0 %}
    <p>Sorry, no results found</p>
    {% else %}

    <p>We found {{count}} results for the search "{{search_term|title}}"</p>


    <div class="col-12">
        <div class="row no-gutters">

            {% for result in search_result %}
            <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center p-3">
                <div class="search-img-container">
                    <a href="{{url_for('get_recipe',recipe_id=result['_id'],recipe_name=result['recipe_name'])}}"><img
                            class="recipe-image" src="{{result['recipe_image']}}" alt="{{result['recipe_name']}}"></a>
                </div>
                <div>
                    <a class="search-header"
                        href="{{url_for('get_recipe',recipe_id=result['_id'],recipe_name=result['recipe_name'])}}">{{result['recipe_name']}}
                    </a>

                    <ul>
                        <li>Recipe Rating: {{result["likes"]}}</li>
                        <li>Time Required: {{result["cooking_time"] + result["prep_time"]}}</li>
                        <li>Effort Required: {{result["effort"]|title}}</li>
                        <li>Course Style: {{result["recipe_course"]}} </li>
                    </ul>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    {% endif %}




</div>


{% endblock %}