{% extends 'public_base.html' %}

{% block title%}RW | Advertise With Us{% endblock %}

{% block mdescription %}Looking to advertise yourself or your product with Recipe Workshop? Look no further.{% endblock %}

{% block main %}

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="no-results-container">
                <div class="no-results p-2 text-center">
                    <h1>Page is still in the oven baking</h1>
                    <p>Whilst that happens, we've got our chefs and recipe makers brainstorming ideas for this page so check back soon.</p>

                    <img class="no-results-logo" src="/static/images/logo.png" alt="Recipe Workshop">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}